.panel {
  padding-top: 6px;
}

.content {
  margin-top: 32px;
}

.usersIcon,
.clockIcon {
  border: 2px solid currentColor;
  display: inline-block;
  height: 15px;
  position: relative;
  width: 15px;
}

.usersIcon {
  border-bottom: 0;
  border-left: 0;
  border-radius: 50%;
}

.clockIcon {
  border-radius: 50%;
}
